h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}
