.input-control {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;

  &__helper {
    margin-top: 5px;
    color: var(--red);
  }

  &--invalid {
    border: 1px solid var(--red) !important;
  }
}
