<div class="footer flex-column flex-center">
  <h3 class="blog-list__title">Hoe verkoop je het beste een huis?</h3>
  <div class="blog-list">
    <div class="blog-list__card" *ngFor="let item of blogItems">
      <img src="https://picsum.photos/310/140" alt="image" />
      <div class="blog-list__info">
        <h5>6 makkelijke manieren om voor een huis te sparen</h5>
        <p>
          Een huis kopen een onbereikbare toekomstdroom? Dat hoeft helemaal
          niet!
        </p>
        <a href="#">Lees meer »</a>
      </div>
    </div>
  </div>
</div>
