<div class="radio__container m-bottom-35">
  <h4 class="m-bottom-20 m-top-35">
    {{ title }}
  </h4>

  <div class="radio__items">
    <div class="radio__item" *ngFor="let option of radioButtonOptions">
      <input
        type="radio"
        [checked]="selectedOption === option"
        name="item.value"
        (click)="optionChanged(option)"
      />
      <span class="radio__button" [ngClass]="'radio__button--' + option">
        <i [ngClass]="'i-smiley-' + option"></i>
      </span>
    </div>
  </div>
</div>
