<div class="radio__container m-bottom-35">
  <h4>
    {{ title }}
  </h4>

  <div class="radio__items">
    <div
      class="radio__item"
      [ngClass]="{ 'radio__item--disabled': disable }"
      *ngFor="let option of radioButtonOptions"
    >
      <input
        type="radio"
        [checked]="value === option"
        (click)="optionChanged(option)"
        [disabled]="disable"
      />
      <span class="radio__button" [ngClass]="'radio__button--' + option">
        <i [ngClass]="'i-smiley-' + option"></i>
      </span>
    </div>
  </div>
</div>
