.radio {
  &__container {
    background-color: var(--blue);
    height: 120px;
    width: 680px;
    border-radius: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 35px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    width: 490px;
  }

  &__item {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 10px #0002;
    transition: transform 100ms, box-shadow 100ms;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 10px #0002;
    }

    input {
      position: absolute;
      opacity: 0;
      margin: 0;
      width: 70px;
      height: 70px;
      cursor: pointer;

      &:checked ~ .radio__button {
        color: white;

        &--1 {
          background-color: var(--red);
        }

        &--2 {
          background-color: var(--orange);
        }

        &--3 {
          background-color: var(--yellow);
        }

        &--4 {
          background-color: var(--lime);
        }

        &--5 {
          background-color: var(--green);
        }
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #fff;
    transition: color 100ms, background-color 100ms;

    i {
      font-size: 35px;
    }

    &--1 {
      background-color: var(--red-50);
      color: var(--red);
    }

    &--2 {
      background-color: var(--orange-50);
      color: var(--orange);
    }

    &--3 {
      background-color: var(--yellow-50);
      color: var(--yellow);
    }

    &--4 {
      background-color: var(--lime-50);
      color: var(--lime);
    }

    &--5 {
      background-color: var(--green-50);
      color: var(--green);
    }
  }
}
