:root {
  --red: #f65455;
  --red-50: #fef8f8;

  --orange: #f9af05;
  --orange-100: #ffc53e;
  --orange-50: #fdf1d2;

  --yellow: #fbde26;
  --yellow-50: #fcffd9;

  --lime: #a1e36d;
  --lime-50: #efffe2;

  --green: #40d472;
  --green-50: #d7ffeb;

  --blue: #54bcff;
  --blue-50: #daf0ff;

  --success: #51d95d;
  --success-50: #d5f5db;

  --gray: #b2b4bf;
  --gray-50: #e2e2e2;

  --light-gray: #f7fafc;
}
