<div class="feedback__container">
  <form [formGroup]="feedbackForm">
    <div class="section">
      <app-feedback-radio-buttons
        title="Hoe eenvoudig kon je je huis online plaatsen?"
        class="m-top-60"
        formControlName="score"
        (valueChange)="onOptionSelect()"
        [disable]="formSubmitted"
      >
      </app-feedback-radio-buttons>
    </div>
    <div
      class="p-left-35 p-right-35 p-top-20 m-bottom-20"
      *ngIf="textAreaSectionVisible && !formSubmitted"
    >
      <h4 class="m-top-0 t-center">Geef je graag wat meer uitleg?</h4>
      <app-textarea
        [helperText]="validatorMessage"
        formControlName="feedbackMessage"
      ></app-textarea>
      <div class="flex-row m-0 m-top-20 flex-align-center">
        <p class="f-sm m-right-20">
          <i class="c-gray"
            >Wij verwerken uw gegevens conform onze privacy policy</i
          >
        </p>
        <app-button
          text="Verzenden"
          (clicked)="onSubmit()"
          class="m-left-auto"
        ></app-button>
      </div>
    </div>

    <div
      class="p-left-35 p-right-35 p-top-25 m-bottom-20"
      *ngIf="formSubmitted"
    >
      <app-alert text="Feedback met succes verzonden!"></app-alert>
    </div>
  </form>

  <div class="section">
    <h3 class="m-top-0">
      Wat te doen als je je huis zelf verkoopt of verhuurt?
    </h3>
    <p>
      Twijfel je hoe je moet beginnen aan de verkoop of verhuur van je woning?
      Geen nood. We begrijpen dat dit een spannende periode is en we willen je
      hier graag bij helpen.
    </p>
    <p>
      Daarom gidsen we je door het proces met een overzichtelijk stappenplan. Zo
      kan je zonder zorgen je woning te koop of te huur aanbieden. Het enige wat
      je nog moet doen, is beslissen of je wil verhuren of verkopen!
    </p>
    <div class="flex-row flex-center m-top-40">
      <app-button
        text="Verkoop"
        [type]="ButtonType.Outline"
        class="m-right-35"
      ></app-button>
      <app-button text="Verhuur" [type]="ButtonType.Outline"></app-button>
    </div>
  </div>
</div>
